/* Prevent text selection when clicking on the profile image */
.profile-avatar {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Ensure the image fits properly in the round container */
.profile-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
