/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-item {
  @apply w-full px-4 py-2 text-left text-sm font-medium text-gray-700
         hover:bg-gray-100 transition-colors;
}
:root {
  --bg: #ffffff;
  --text: #0f172a;
}

[data-theme='dark'] {
  --bg: #020617;
  --text: #e5e7eb;
}

html, body {
  background-color: var(--bg);
  color: var(--text);
}

